@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.margin{
    margin: 5% 0;
}
.parallax{
    background: rgba(0, 0, 0, 0.4) url('../../Images/slider_1.jpeg') no-repeat fixed center/cover;
    background-blend-mode: darken;
}

.parallax-inner{
    padding: 10%;
    text-align: center;
    color: white;
    font-size: 1.4rem;
}

.parallax-inner p{
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    margin: 2px;
}