.vert-align {
    top:0;
    position: fixed;
    z-index:100;
    background-color: white;
    width: 100%;
    height: 80px;
}

.nav-menu
{
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-gap: 5px;
	text-align: center;
	justify-content: end; 
	margin-right: 2rem;
}

.hov
{
	outline: none;
}

.hov:hover
{
	color: #e88f0a;
}

.donate
{
	background-color: #e88f0a;
}

.donate:hover
{
	font-weight: 450;
}

.menu-icon
{
	display: none;
}

.link
{
	text-decoration: none;
	color: black;
}

.link:hover
{
	text-decoration: none;
}

.link:visited
{
	border-color: white;
}

.dropmenus{
	display: block;
	position: fixed;
    top: 45px;
    box-shadow: 5px 6px 10px -4px rgba(0, 0, 0, 0.7);
    background-color: white;
    left: 15%;
	z-index: 101;
}

.point:hover{
	color:#e88f0a;
}

@media screen and (max-width: 950px){
	.navbarItems
	{
		position: relative;
	}

	.nav-menu
	{
		background-color: white;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 220px;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}
	
.donate
{
	justify-content: center;
	width: 25%;
}
	.nav-menu.active
	{
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
		height:420px;
	}

	.menu-icon
	{
		display: block;
		position: absolute;
		right: 0;
		font-size: 1.8rem;
		cursor: pointer;
		margin-right: 15px;
	}
}