@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.quote
{
	color: white;
	position: absolute;
	top: 65%;
	left: 30%;
	right: 70%;
	background: none;
	transform: translateY(-80%);
	width: 40%;
}

.sty
{
	font-family: 'Dancing Script', cursive;
	align-self: center;
}

.slider
{
	height: 550px;
	/*height: 90vh;*/
	width: 100%;
	position: relative;
	color: black;
	display: flex;
	align-items: center;
	overflow: hidden;
	background: black;
}

.sliderImg
{
	width: 100%;
	height: 100%;
	opacity: 0.55;
}

.slide
{
	min-width: 100%;
	height: 100%;
	transition: 0.2s;
}

#goLeft
{
	position: absolute;
	top: 50%;
	left: 0;
	background: none;
	transform: translateY(-50%);
	width: 5%;
	height: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.5s;
}

.icon
{
	width: 5vmin;
	height: 5vmin;
	color: 
}

#goLeft:hover
{
	background: rgba(0,0,0,0.356);
}

#goRight
{
	position: absolute;
	top: 50%;
	right: 0;
	background: none;
	transform: translateY(-50%);
	width: 5%;
	height: 100%;
	border: none;
	cursor: pointer;
	transition: 0.5s;
}

#goRight:hover
{
	background: rgba(0,0,0,0.356);
}

.donate1
{
	background: none;
	transition: 0.5s;
	color: white;
	align-self: center;
}
.donate1:hover
{
	background-color: #e88f0a;
	color: black;
	border-color: black;
}
